/* Material-dark theme created by Alfredo Monclus 2021 */
@define-color grid_bg #808080;

/*设置所有按钮背景颜色,以及点击状态下为透明*/
/*button:active,*/
button{
    background-color: transparent;
    border-color: transparent;
    color: white;
    box-shadow: none;
}

button.home_menu_button,
button.settings_menu_button{
    background-color: @grid_bg;
    border-radius: 1em;
    margin: 10px 10px 10px 20px;
}
button.next_level{
    background-color: #0073BD;
    border-radius: 1em;
}
button.later_button{
    background-color: #A8A8A8;
    border-radius: 1em;
}
button.select_consumables_type{
    background-color:#A9A9A9;
    border-radius: 1em;
    margin: 5px 5px 5px 5px;
}
button.print_menu_button{
    background-color: @grid_bg;
    border-radius: 1em;
}
button.print_print_list{
    background-color: @grid_bg;
    border-radius: 1em;
    margin: 10px;
}
button.speed_control_button,
button.ten_button{
    background-color: #606060;
    border-radius: 1em;
}
button.one_button{
    background-color: #909090;
    border-radius: 1em;
}
button.distance_button{
    background-color: #4e4f4f;
    border-radius: 1em;
}
button.temperature_number{
    background-color: #4e4f4f;
    border-radius: 1em;
}
#nozzle_extruder_dialog{
    background-color: @grid_bg;
}

/* 设置进度条颜色 */
progressbar trough {
    border: none;
    background-color: #EDEDED; /* 背景颜色 */
}
progressbar progress {
    border: none;
    background-color: #0073bd; /* 进度条颜色 */
}
/* 下拉菜单背景颜色 */
.consumables_select button{
    background-color: #A8A8A8;      /* 背景色 */
    border: 0px solid #FF8A65;      /* 可选：自定义边框 */
    color: #dbdbdb;             /* 文字颜色 */
}
/* 下拉菜单中的选项样式（可选） */
.consumables_select popup > contents {
    background-color: white;
}





/* 主页菜单 */
#head_grid{
    margin-top:5px
}

#up_grid {
    /*background-color: red;*/
    /*border-radius: 1em;*/
    padding-top: 40px;
    padding-left: 100px;
}

#tag_blue {
    padding-left: 50px;
}

#down_grid {
    /*background-color: green;*/
    border-radius: 1em;
}

#print_file_list_grid {
    background-color: @grid_bg;
    border-radius: 1em;
    padding-top: 30px;
    padding-left: 40px;
    margin: 50px 10px 35px 20px;
}

#lower_right_grid {
    border-radius: 1em;
    margin: 50px 10px 35px 20px;
}

#nozzle_extruder_grid {
    background-color: @grid_bg;
    border-radius: 1em;
    padding-top: 15px;
}


/* 选择打印文件 页面 */
#print_file_list{

}
#file_list_body_grid{
    padding:0px 0px 0px 50px;
}


/* 要打印的盘 页面 */
#select_disc_print{
    margin:5px;
}
#file_grid,
#disc_nozzle_grid,
#other_grid {
    background-color: @grid_bg;
    border-radius: 1em;
    margin: 10px;
    padding-top: 15px;
}
#file_grid{
    padding:0px 0px 10px 0px;
}

#disc_nozzle_grid{
    padding: 20px 0px 0px 40px;
}
#print_details_modeling_graphics{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#advanced_options{
    padding-left: 15px;
}

/* 匹配耗材页面 */
#matching_consumables{
    margin:5px;
}
#left_matching_consumables_grid,
#right_matching_consumables_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    margin: 10px;
    padding: 20px 10px 10px 10px;
}

/* 打印界面管理 */
#print_menu{
    margin: 10px;
}

#left_up_grid,
#right_up_gird,
#left_down_grid,
button.print_button{
    background-color: @grid_bg;
    border-radius: 1em;
}
#print_inner_grid{
    padding: 30px 0px 0px 30px;
}
#right_up_gird_left_grid {
    background-image: url('images/printer_inner.jpg');
    background-size: contain; /* cover; 会缩放图片以完全覆盖整个区域，可能会裁剪图片。 contain; 会缩放图片以完整显示在区域内，可能不会填满整个区域。*/
    background-repeat: no-repeat;
}
#right_up_gird_right_grid {
    background-image: url('images/nozzle_extruder.png');
    background-size: contain; /* cover; 会缩放图片以完全覆盖整个区域，可能会裁剪图片。 contain; 会缩放图片以完整显示在区域内，可能不会填满整个区域。*/
    background-repeat: no-repeat;
}
#printer_control_menu {
    padding:10px;
    background-image: url('images/printer_control_menu_background.jpg');
    background-size: contain; /* cover; 会缩放图片以完全覆盖整个区域，可能会裁剪图片。 contain; 会缩放图片以完整显示在区域内，可能不会填满整个区域。*/
    background-repeat: no-repeat;
}


/* 3D打印机系统控制管理 */
/*#printer_control_menu.button{    */
/*    opacity: 0.6;*/
/*}*/
#air_system_grid ,
#speed_control_grid ,
#sport_control_grid,
#hotbed_temperature_grid ,
#chassis_temperature_grid,
#control_nozzle_extruder_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding-top: 15px;
    padding-left: 15px;
}
#light_system_grid {
    background-color: @grid_bg;
    border-radius: 1em;
    padding-top: 15px;
    padding-left: 20px;
}
/* 空调系统 */
#air_system_model{
    padding-left:50px;
}
#air_system_down_left_grid{
    padding-left:50px;
}
#air_system_body_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding:15px;
    margin: 10px;
}

/* 速度控制 */
#speed_control{

}
#speed_control_body_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding:25px 25px 15px 25px;
    margin: 10px;
}

/* 运动控制*/
#sport_control{

}
#sport_control_body_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding:15px;
    margin: 10px;
}

/* 腔温管理 */
#chassis_temperature{
    margin: 10px 10px 10px 10px;
}

#chassis_temperature_body_grid{
    padding: 20px 15px 20px 15px;
    margin: 10px;
}

/* 热床温度管理 */
#hotbed_temperature{
    margin: 10px 10px 10px 10px;
}

#hotbed_temperature_body_grid{
    padding: 20px 15px 20px 15px;
    margin: 10px;
}

/* 喷嘴和挤出机 */
#nozzle_extruder{

}
#nozzle_extruder_body_grid{
    padding: 20px 15px 20px 15px;
}
#nozzle_extruder_left_button_grid,
#nozzle_extruder_right_button_grid{
    background-color: @grid_bg;
    border-radius: 1em;
}







/* 耗材管理 菜单页面 */
#consumables_menu {
    padding:10px;
    background-image: url('images/consumables_menu_background.jpg');
    background-size: contain; /* cover; 会缩放图片以完全覆盖整个区域，可能会裁剪图片。 contain; 会缩放图片以完整显示在区域内，可能不会填满整个区域。*/
    background-repeat: no-repeat;
}
/* 编辑耗材耗材 */
#edit_consumables_body_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    margin: 5px 10px 10px 5px ;
    padding: 10px 5px 8px 10px;
}


/* 通知信息菜单*/
#messages_menu {

}
#messages_assistant_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    margin: 20px 10px 20px 0px;
}

#messages_grid {
    background-color: @grid_bg;
    border-radius: 1em;
    margin: 20px 10px 20px 0px;
}


/* 系统设置 菜单界面*/
#settings_menu {
    padding:10px;
}
#user_messages_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding-top: 130px;
    padding-left: 110px;
}
#settings_wifi_grid,
#disk_messages_grid,
#firmware_information_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 30px 10px 0px 25px;
}

/* 校准菜单界面 */
#calibration {

}
#calibration_body_grid{
    margin:10px;
}
#print_calibration_grid,
#nozzle_calibration_grid,
#camera_calibration_grid,
#sport_calibration_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 10px 10px 0px 20px;
}

/* 打印校准 */
#print_calibration{

}
#print_calibration_body_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    margin: 5px;
    padding: 10px 10px 0px 20px;
}
/* 喷嘴校准 */

#nozzle_calibration{

}
/* 实况相机校准 */
#camera_calibration{

}

/* 运动精度校准 */
#sport_calibration{

}
#nozzle_calibration_body_grid,
#camera_calibration_body_grid,
#sport_calibration_body_grid{
    margin:5px 0px 0px 5px;
}
#nozzle_calibration_message_grid,
#nozzle_calibration_image_grid,
#camera_calibration_message_grid,
#camera_calibration_image_grid,
#sport_calibration_message_grid,
#sport_calibration_image_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 20px 10px 0px 20px;
    margin: 5px;
}

/* 工具箱菜单界面 */
#toolbox {

}
#toolbox_body_grid{
    margin:10px;
}
#drying_consumables_grid,
#xyz_axis_cleaning_grid,
#lead_screw_lubrication_grid,
#laser_module_cleaning_grid,
#nozzle_cold_drawing_maintenance_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 10px 10px 0px 20px;
}
/* 烘干耗材 */
#drying_consumables{

}
#drying_consumables_message_grid,
#drying_consumables_steps_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 20px 10px 0px 20px;
    margin: 5px;
}
/* XYZ轴清洁 */
#xyz_axis_cleaning{

}
#xyz_cleaning_message_grid,
#xyz_cleaning_steps_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 20px 10px 0px 20px;
    margin: 5px;
}
/* 丝杆清洁 */
#lead_screw_lubrication{

}
#lead_screw_lubrication_message_grid,
#lead_screw_lubrication_steps_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 20px 10px 0px 20px;
    margin: 5px;
}
/* 激光模组清洁 */
#laser_module_cleaning{

}
#laser_module_cleaning_message_grid,
#laser_module_cleaning_steps_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 20px 10px 0px 20px;
    margin: 5px;
}
/* 喷嘴冷拔维护 */
#nozzle_cold_drawing_maintenance{

}
#nozzle_cold_drawing_maintenance_message_grid,
#nozzle_cold_drawing_maintenance_steps_grid{
    background-color: @grid_bg;
    border-radius: 1em;
    padding: 20px 10px 0px 20px;
    margin: 5px;
}