/* Material-dark theme created by Alfredo Monclus 2021 */
@define-color text #e2e2e2;
@define-color bg #0F0B0C;
@define-color buttons-bg #090909;
@define-color color1 #d46900;
@define-color color2 #ed3c63;
@define-color color3 #849900;
@define-color color4 #808080;

@define-color echo #006412;
@define-color warning #EF6C00;
@define-color error #B71C1C;

@define-color active #d46900;
@define-color active-dark #282828;
@define-color lines #a2a2a2;
@define-color slider #d81549;

/*设置所有按钮背景颜色,以及点击状态下为透明*/
/*button:active,*/
button{
    background-color: transparent;
    border-color: transparent;
    color: white;
    box-shadow: none;
}


button.home_menu_button,
button.settings_menu_button{
    background-color: #808080;
    border-radius: 1em;
    margin: 10px 10px 10px 20px;
}

#up_grid {
    /*background-color: red;*/
    /*border-radius: 1em;*/
    padding-top: 40px;
    padding-left: 100px;
}

#tag_blue {
    padding-left: 50px;
}

#down_grid {
    /*background-color: green;*/
    border-radius: 1em;
}

#print_file_list_grid {
    background-color: #808080;
    border-radius: 1em;
    padding-top: 30px;
    padding-left: 30px;
    margin: 50px 10px 35px 20px;
}

#lower_right_grid {
    border-radius: 1em;
    margin: 50px 10px 35px 20px;
}

#nozzle_extruder_grid {
    background-color: #808080;
    border-radius: 1em;
    padding-top: 30px;
    padding-left: 25px;
}



#printer_control_menu {
    padding:10px;
    background-image: url('images/printer_control_menu_background.jpg');
    background-size: contain; /* cover; 会缩放图片以完全覆盖整个区域，可能会裁剪图片。 contain; 会缩放图片以完整显示在区域内，可能不会填满整个区域。*/
    background-repeat: no-repeat;
}
/*#printer_control_menu.button{    */
/*    opacity: 0.6;*/
/*}*/
#air_system_grid ,
#speed_control_grid ,
#sport_control_grid,
#hotbed_temperature_grid ,
#chassis_temperature_grid,
#control_nozzle_extruder_grid{
    background-color: #808080;
    border-radius: 1em;
    padding-top: 15px;
    padding-left: 15px;
}
#light_system_grid {
    background-color: #808080;
    border-radius: 1em;
    padding-top: 15px;
    padding-left: 20px;
}

#consumables_menu {
    padding:10px;
    background-image: url('images/consumables_menu_background.jpg');
    background-size: contain; /* cover; 会缩放图片以完全覆盖整个区域，可能会裁剪图片。 contain; 会缩放图片以完整显示在区域内，可能不会填满整个区域。*/
    background-repeat: no-repeat;
}

#settings_menu {
    padding:10px;
}


#user_messages_grid{
    background-color: #808080;
    border-radius: 1em;
    padding-top: 130px;
    padding-left: 110px;
}
#settings_right_arrow_icon{
    padding-left: 70px;
}
#settings_wifi_grid,
#disk_messages_grid,
#firmware_information_grid{
    background-color: #808080;
    border-radius: 1em;
    padding-top: 30px;
    padding-left: 25px;
}

#messages_menu {

}

#messages_assistant_grid{
    background-color: #808080;
    border-radius: 1em;
    margin: 20px 10px 20px 0px;
}

#messages_grid {
    background-color: #808080;
    border-radius: 1em;
    margin: 20px 10px 20px 0px;
}

#print_file_list{
    padding: 10px 5px 10px 5px;
}
#file_list{
    padding: 0px 15px 0px 15px;
}
#select_print_file_grid{
    background-color:#000000;
    border-radius: 1em;
    margin: 0px 10px 0px 10px;
}
